<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxus.tsp.platform.service.dao.car.CarCaptureDao">
	
	<!-- 根据vin获取摄像头编号信息 -->
	<select id="getCameraNoByVin" resultType="java.lang.String">
		select group_concat(bcc.cameraNo) from base_car_camera bcc
		left join base_car bc on bc.ID = bcc.base_carId
		where bc.VIN = #{vin} and bc.State = 1
		group by bcc.base_carId;
	</select>
	
	<!-- 根据截取序列号,vin和摄像头编号获取图片列表 -->
	<select id="getImagePathByTakePhotoIdAndCameraId" resultType="map">
		select cameraNo cameraID,date_format(cc.CreatDate,'%Y-%m-%d %H:%i:%s')  takePhotoDate ,
		ccp.ImagePath takePhotoUrl
		from car_capture_photo ccp
		left join car_capture cc on cc.ID = ccp.car_captureId
		where cc.CreatDate = #{takePhotoID} and cc.Vin=#{vin} and ccp.cameraNo in 
	    <foreach collection="idList" index="index" item="itemId" open="("
		    separator="," close=")">
		   #{itemId} 
		 </foreach>
	</select>
	
	<!-- 根据vin号获取车辆的截取图像日期列表 -->
	<select id="getCaptureDateList" resultType="map">
		select temp.takePhotoMonth,takePhotoDate,
		group_concat(concat(temp.cameraNo,':',temp.cameraNoCount)) photoCount
		from (
		select date_format(cc.CreatDate,'%Y-%m') takePhotoMonth,
		date_format(cc.CreatDate,'%Y-%m-%d %H:%i:%s') takePhotoDate,ccp.car_captureId,
		 ccp.cameraNo,count(ccp.ID) cameraNoCount
		from car_capture_photo ccp
		left join car_capture cc on cc.ID = ccp.car_captureId
		where cc.Vin = #{vin} and date_format(cc.CreatDate,'%Y-%m-%d %H:%i:%s')
		between date_format(DATE_ADD(now(),INTERVAL -6 MONTH),'%Y-%m-%d %H:%i:%s') 
		and date_format(now(),'%Y-%m-%d %H:%i:%s') group by ccp.car_captureId,ccp.cameraNo order by cc.CreatDate desc ) temp 
		group by temp.car_captureId order by temp.takePhotoDate desc;
	</select>
	
	<!-- 根据vin号和抓拍日期获取图片详情列表 -->
	<select id="getImageListByDateAndVin" resultType="map">
		select ccp.cameraNo cameraID,date_format(cc.CreatDate,'%Y-%m-%d %H:%i:%s') takePhotoDate,ccp.ImagePath takePhotoUrl 
		from car_capture_photo ccp
		left join car_capture cc on cc.ID = ccp.car_captureId
		where cc.Vin = #{vin} and date_format(cc.CreatDate,'%Y-%m-%d') = #{takePhotoDate}
		order by cc.CreatDate desc
	</select>
	<insert id="insertCarCapture">
	insert into car_capture(
		 Vin,
		 CreatDate,
		 status)
		 values
		  (#{vin},
		 #{creatDate},
		 -1)
	</insert>
	
	<insert id="insertCarCaptureLog">
	insert into car_capture_log(
		 Vin,
		 EventDate,
		 EventType)
		 values
		  (
		  #{vin},
		  #{eventDate},
		 #{enventType})
	</insert>
	
	<!-- 更新拍照结果'  -->
	<update id="updateCarCaptureStatus">
	update car_capture set status=#{status} where CreatDate=#{shootID} and Vin=#{vin}
	</update>
	
	<select id="getCountForOperingTakePhoto" resultType="java.lang.Integer">
		SELECT count(0)
		FROM car_capture
		where vin = #{vin} 
		and CreatDate > #{limitTime}
		and status = -1;
    </select>
</mapper>