<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxus.tsp.platform.service.dao.car.RemoteControlDao">
	<resultMap type="com.maxus.tsp.platform.service.model.vo.RemoteControlHistoryVo"
		id="BaseResultMap">
		<id column="ID" property="id" />
		<result column="vin" property="vin" />
		<result column="Cmd" property="cmd" />
		<result column="CmdVal" property="cmdVal" />
		<result column="downState" property="downState" />
		<result column="downDate" property="downDate" />
		<result column="CreateDate" property="createDate" />
	</resultMap>
	
	<!-- 记录远程控制命令 -->
	<insert id="recordRemoteCtrl" useGeneratedKeys="true" keyProperty="id" parameterType="com.maxus.tsp.platform.service.model.vo.RemoteControlHistoryVo">
	insert into remote_ctrl_history(vin,Cmd,CmdVal,downState,CreateDate)
	values(#{vin},#{cmd},#{cmdVal},0,now())
	</insert>
	
	<!-- 更新远程控制命令下发时间 -->
	<update id="addRemoteCtrlDownStatus" >
	update remote_ctrl_history 
	set downState='1', 
	downDate=#{downDate}
	where ID=#{remoteCtrlID}
	</update>
	
	<select id="getCountForOperRmtCtrl" resultType="java.lang.Integer">
		SELECT count(0)
		FROM remote_ctrl_history
		where vin = #{vin} 
		and CreateDate > #{limitTime} 
		and downState = 0
    </select>
</mapper>