<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxus.tsp.platform.service.dao.car.TboxDao">
	<resultMap type="com.maxus.tsp.platform.service.model.car.Tbox"
		id="TboxResultMap">
		<id column="ID" property="id" />
		<result column="iccid" property="iccid" />
		<result column="SN" property="sn" />
		<result column="simno" property="simno" />
		<result column="uuid" property="uuid" />
		<result column="pkey" property="pkey" />
		<result column="status" property="status" />
		<result column="sw_version_status" property="swVersionStatus" />
		<result column="pkey_version_status" property="pkeyVersionStatus" />
		<result column="updateDate" property="updateDate" />
		<result column="CreatDate" property="creatDate" />
	</resultMap>

	<resultMap type="com.maxus.tsp.platform.service.model.vo.TboxVo"
		id="TboxVoMap">
		<id column="ID" property="id" />
		<result column="iccid" property="iccid" />
		<result column="SN" property="sn" />
		<result column="simno" property="simno" />
		<result column="uuid" property="uuid" />
		<result column="status" property="status" />
		<result column="pkey" property="pkey" />
		<result column="major" property="major" />
		<result column="minor" property="minor" />
	</resultMap>

	<resultMap type="com.maxus.tsp.platform.service.model.vo.TboxUpdateInfoVo"
		id="TTboxUpdateInfoVoMap">
		<id column="ID" property="id" />
		<result column="upgrade_version" property="upgrade_version" />
		<result column="upgrade_url" property="upgrade_url" />
		<result column="upgrade_time" property="upgrade_time" />
		<result column="upgrade_note" property="upgrade_note" />
		<result column="md5" property="md5" />
	</resultMap>
	
	<select id="getTboxVo" resultMap="TboxVoMap">
		SELECT
		id,sn,iccid,simno,uuid,status,pkey,major,minor
		FROM tbox
		WHERE SN=#{tboxSN}
	</select>

	<select id="getAllTboxInfo" resultMap="TboxVoMap">
		SELECT
		id,sn,iccid,simno,uuid,status,pkey,major,minor
		FROM tbox
	</select>
	
	<select id="getTboxUpdateInfo" resultMap="TTboxUpdateInfoVoMap">
		SELECT
		id,upgrade_version,upgrade_url,upgrade_time,upgrade_note,md5
		FROM sys_version_upgrade_tbox
		where id =#{id}
	</select>
	
	<!-- 更新版本状态 -->
	<update id="updatePkeyVerStatus">
		update tbox
		set
		pkey_version_status=#{status},updatedate=#{updatedate}
		where sn=#{tboxSN}
	</update>

	<update id="updateTboxSWVerStatus">
		update tbox
		set
		sw_version_status=#{status},updatedate=date_format(now(),'%Y-%c-%d %H:%i:%s')
		where sn=#{tboxSN}
	</update>

    <!-- 网关重置Tbox -->
    <update id="resetTboxStatus">
    update tbox
    set
    status=0,
    updatedate = date_format(now(),'%Y-%c-%d %H:%i:%s')
    where sn=#{tboxSN}
    </update>

	<delete id="deleteTboxBySn">
    delete from tbox
    where sn=#{tboxSN}
    </delete>

    <update id="updateTboxBySn" parameterType="com.maxus.tsp.platform.service.model.car.Tbox">
        update tbox
        <set>
            <if test="iccid != null and iccid != ''">
                iccid = #{iccid},
            </if>
            <if test="simno != null and simno != ''">
                simno = #{simno},
            </if>
            <if test="uuid != null and uuid != ''">
                uuid = #{uuid},
            </if>
            updatedate = NOW()
        </set>
        WHERE sn=#{sn}
    </update>

	<!-- 锁住tbox -->
	<update id="lockTbox" >
		update tbox
		set
		status=#{tboxStat},pkey=#{pkey},major=#{major},minor=#{minor},
		updatedate = date_format(now(),'%Y-%c-%d %H:%i:%s')
		where sn=#{tboxSN}
	</update>
	
	<!-- 锁住tbox -->
	<update id="lockTboxComplete" >
		update tbox
		set
		status=1
		where sn=#{tboxSN}
	</update>
	
	<!-- 获取tbox公钥 -->
	<select id="getTboxPkey" resultType="java.lang.String">
		SELECT
		pkey
		FROM tbox
		WHERE SN=#{tboxSN}
		ORDER BY
		ID DESC limit 1
	</select>
	
	<!-- 成功时根据sn批量更新同步联通状态及同步时间 -->
    <update id="updateTboxSyncSatsBySn" parameterType="java.util.List">
        update tbox
            set sync_status = 1, sync_date = now()
        where sn in 
		    <foreach item="item" index="index" collection="snOKList" open="(" separator="," close=")">  
		      #{item}
		    </foreach>
	</update>
	
	<!-- 失败时根据sn批量更新同步联通的时间 -->
    <update id="updateTboxSyncDateBySn" parameterType="java.util.List">
        update tbox
            set sync_date = now()
        where sn in 
            <foreach item="item" index="index" collection="snNGList" open="(" separator="," close=")">  
              #{item}
            </foreach>
    </update>
	
	<update id="updateStatusBySn">
        update tbox set status = 2 where sn=#{tboxSN}
    </update>
    
    <update id="updateSyncStatusBySn">
        update tbox set sync_status = 1, sync_date = now() where sn=#{tboxSN}
    </update>
    
    <insert id="insertTBOX" parameterType="com.maxus.tsp.platform.service.model.car.Tbox">
		INSERT INTO tbox (
			sn,
			iccid,
			simno,
			uuid,
			status,
			createdate,
			updatedate
		)
		VALUES
			(
			#{sn},
			#{iccid},
			#{simno},
			#{uuid},
			#{status},
			#{creatDate},
			#{updateDate}
			)
	</insert>

</mapper>